body{
padding-top: 800px;
    background-color:fuchsia;
}






h1{
    font-size: 40px;
    line-height: 1.2;
  font-family: 'Lato',sans-serif;
    font-weight: 300
}
#name{
    font-size: 30px;
    line-height: 1.2;
  font-family: cursive;
}


.links{
    float: left;
     color: #fff;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px;
    
}
h6{
  font-size: 40px;  
}